<header class="hero-unit" id="banner">

</header>

<div class="container">
    <div class="row" ng-show="$ctrl.ownerView">
        <h1 class="page-header">Members:</h1>
        <form class="list-form">
            <p class="input-group">
                <input type="text" class="form-control" placeholder="Add a new member here." ng-model="$ctrl.newMember">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.addMember()">Add Member</button>
                </span>
            </p>
        </form>

        <ul class="nav nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="user in $ctrl.myUserLists">
            <li>
                <div class="chip">
                    <img src="assets/images/img_avatar.png" alt="Person" width="96" height="96">{{user.name}}
                    <span class="closebtn" onclick="this.parentElement.style.display='none'" ng-click="$ctrl.deleteMember(user)" ng-show="user.role=='user'">&times;</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <h1 class="page-header">My List (
            <span>
                    {{$ctrl.myItems.length}}
                <ng-pluralize count="$ctrl.myItems.length" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
            </span>
        ):
        </h1>
        <section class="myapp" style="min-height: 300px">

            <form class="list-form" ng-submit="$ctrl.addItem()">
                <input class="new-item" placeholder="New items on the list?" ng-model="$ctrl.newItem" ng-disabled="saving" autofocus>
            </form>

            <section id="main" class="main" ng-if="$ctrl.myItems.length > 0">
                <div class="my-list">
                    <ul>
                        <li ng-repeat="item in $ctrl.filterByStatus($ctrl.myItems) track by $index" ng-class="{completed: item.completed, editing: item==$ctrl.originalItem}">
                            <div class="view">
                                <button class="toggle" ng-class="{'checked': item.completed}" ng-click="$ctrl.toggleCompleted(item)"></button>
                                <label ng-dblclick="$ctrl.editItem(item)">{{item.title}}</label>
                                <button class="destroy icon" ng-click="$ctrl.deleteItem(item)"></button>
                            </div>
                            <form ng-submit="$ctrl.saveItem(item, 'submit')">
                                <input class="edit" ng-model="item.title" ng-blur="$ctrl.saveItem(item)">
                            </form>
                        </li>
                    </ul>
                    <i ng-if="loadingItems" class="fa fa-spinner fa-pulse fa-3x fa-fw loader"></i>
                </div>

                <span class="footer" ng-show="$ctrl.myItems.length > 0">
                    <ul class="filters">
                        <li>
                            <a class="do-all" ng-class="{selected: status == ''} " ng-click="$ctrl.setStatusFilter('all')">All</a>
                        </li>
                        <li>
                            <a class="do-active" ng-class="{selected: status == 'active'}" ng-click="$ctrl.setStatusFilter('active')">Active</a>
                        </li>
                        <li>
                            <a class="do-completed" ng-class="{selected: status == 'completed'}" ng-click="$ctrl.setStatusFilter('completed')">Completed</a>
                        </li>
                    </ul>
                    <br/>
                    <br/>
                    <ul class="filters">
                        <li>
                            <a ng-click="$ctrl.clearCompleted()">Clear completed</a>
                        </li>
                    </ul>
                </span>
            </section>
        </section>
    </div>
</div>