<header class="hero-unit" id="banner">

</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">My Lists:</h1>
      <form class="list-form">
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new list name here." ng-model="$ctrl.newList">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addList()">Add New</button>
          </span>
        </p>
      </form>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="list in $ctrl.myLists" ng-show="$ctrl.filterByRole(list, 'owner')">
        <li>
          <div class="containerX">
            <p>
              <span>
                <a href="/list/{{list._id}}" uib-tooltip="{{list.info}}">{{list.name}}</a>
              </span>
              <button type="button" ng-click="$ctrl.deleteList(list);"><i class="fa fa-trash"></i></button>
            </p>
            <p>{{list.info}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Shared With Me:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="list in $ctrl.myLists" ng-show="$ctrl.filterByRole(list, 'user')">
          <li>
            <div class="containerX">
              <p>
                <span>
                  <a href="/list/{{list._id}}" uib-tooltip="{{list.info}}">{{list.name}}</a>
                </span>
              </p>
              <p>{{list.info}}</p>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>